<header class="">
  <div class="bg-white shadow-md z-50">
      <nav class="flex justify-between items-center w-[92%]  mx-auto">
          <div>
              <img class="w-16 cursor-pointer"  alt="...">logo
          </div>
          <div [ngClass]="{'hidden': !showMenu, 'flex fixed ': showMenu}" class=" lg:flex lg:flex-grow  items-center">
            <ul class="flex flex-col lg:flex-row list-none   mx-auto gap-6 ">
              <li>
                <a routerLink="/" class="hover:text-gray-500 cursor-pointer" >Home</a>
              </li>
              <li>
                <a routerLink="/journey"  class="hover:text-gray-500" >Journey</a>
              </li>
              <li>
                <a routerLink="/group" class="hover:text-gray-500" >Group</a>
              </li>

            </ul>
          </div>
          <div class="flex items-center gap-6">
              <a routerLink="/auth/login" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 inline-flex hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm mx-4 px-5 py-2.5 text-center items-center">Sign in</a>
              <button (click)="toggleNavbar()"  name="menu" class="text-3xl cursor-pointer md:hidden">ok</button>
          </div>
          </nav>
        </div>




</header>
