
<nav *ngIf="isLoggedIn" x-data="{ isOpen: false }" class="relative bg-white shadow ">
  <div class="container px-6 py-4 mx-auto">
      <div class="lg:flex lg:items-center lg:justify-between">
          <div class="flex items-center justify-between">
              <a routerLink="/">
                  <img class="w-40 " src="/assets/upload/travelt.png" alt="">
              </a>

              <div class="flex lg:hidden">
                  <button x-cloak (click)="showMenu = !showMenu" type="button" class="text-gray-500  hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu">
                      <svg x-show="!isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
                      </svg>

                      <svg x-show="isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                  </button>
              </div>
          </div>

          <div x-cloak :class="[showMenu ? 'translate-x-0 opacity-100 ' : 'opacity-0 -translate-x-full']" class="absolute inset-x-0 z-20 w-full px-6 py-4 transition-all duration-300 ease-in-out bg-white lg:mt-0 lg:p-0 lg:top-0 lg:relative lg:bg-transparent lg:w-auto lg:opacity-100 lg:translate-x-0 lg:flex lg:items-center">
              <div class="flex flex-col -mx-6 lg:flex-row lg:items-center lg:mx-8">
                  <a routerLink="/" class="px-3 py-2 mx-3 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0  hover:bg-gray-100 ">Home</a>
                  <a routerLink="/journey" class="px-3 py-2 mx-3 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0  hover:bg-gray-100 ">Journey</a>
                  <a routerLink="/group" class="px-3 py-2 mx-3 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0  hover:bg-gray-100 ">Group</a>
                  <a routerLink="/journey/reserve" class="px-3 py-2 mx-3 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0  hover:bg-gray-100 ">Search</a>
              </div>

              <!-- ?????????????? -->
              <div class="relative">
                <button (click)="toggleDropdown()" class="flex items-center text-white focus:outline-none" id="userMenuButton" aria-expanded="false" aria-haspopup="true">
                  <div class="w-8 h-8 overflow-hidden border-2 border-gray-400 rounded-full">
                    <img src="/assets/upload/profile_.jpg" class="object-cover w-full h-full" alt="avatar">
                </div>
                </button>
                <div id="userMenu" class="origin-top-right absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg py-1 hidden" role="menu" aria-orientation="vertical" aria-labelledby="userMenuButton">
                  <a routerLink="/profile/myjourney" class="block px-4 py-2 text-gray-700 hover:bg-gray-100" role="menuitem">Profilell</a>
                  <button (click)="logout()" class="block w-full text-left px-4 py-2 text-gray-700 hover:bg-gray-100" role="menuitem">Logout</button>
                </div>
              </div>

          </div>



      </div>
  </div>
</nav>

<!-- //////// -->

<nav *ngIf="!isLoggedIn" x-data="{ isOpen: false }" class="relative bg-white shadow ">
  <div class="container px-6 py-3 mx-auto">
      <div class="lg:flex lg:items-center lg:justify-between">
          <div class="flex items-center justify-between">
              <a routerLink="/">
                  <img class="w-40 " src="/assets/upload/travelt.png" alt="">
              </a>

              <!-- Mobile menu button -->
              <div class="flex lg:hidden">
                  <button x-cloak (click)="showMenu = !showMenu" type="button" class="text-gray-500  hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu">
                      <svg x-show="!isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
                      </svg>

                      <svg x-show="isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                  </button>
              </div>
          </div>

          <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
          <div x-cloak :class="[showMenu ? 'translate-x-0 opacity-100 ' : 'opacity-0 -translate-x-full']" class="absolute inset-x-0 z-20 w-full px-6 py-4 transition-all duration-300 ease-in-out bg-white lg:mt-0 lg:p-0 lg:top-0 lg:relative lg:bg-transparent lg:w-auto lg:opacity-100 lg:translate-x-0 lg:flex lg:items-center">
              <div class="flex flex-col -mx-6 lg:flex-row lg:items-center lg:mx-8">
                  <a routerLink="/" class="px-3 py-2 mx-3 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0  hover:bg-gray-100 ">Home</a>
                  <a routerLink="/journey" class="px-3 py-2 mx-3 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0  hover:bg-gray-100 ">Journey</a>
                  <a routerLink="/group" class="px-3 py-2 mx-3 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0  hover:bg-gray-100 ">Group</a>
                  <a routerLink="/journey/reserve" class="px-3 py-2 mx-3 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0  hover:bg-gray-100 ">Search</a>
              </div>

              <div class="flex items-center mt-4 lg:mt-0">


                <a routerLink="/auth/login" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 inline-flex hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm mx-4 px-5 py-2.5 text-center items-center">Sign in</a>

              </div>
          </div>
      </div>
  </div>
</nav>
