
<div>
  <h1 class="text-2xl m-4">List Journey</h1>
</div>

<div class="w-full flex flex-col md:flex-row m-auto">
  <div class="max-w-lg md:w-1/2  m-4 bg-white border border-gray-200 rounded-lg shadow sm:px-4 ">
    <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200 ">
              <li class="p-3">
                  <div class="flex items-center">
                      <div class="flex-shrink-0">
                          <img class="w-8 h-8 rounded-full" src="/assets/upload/profile_.jpg" alt="Neil image">
                      </div>
                      <div class="flex-1 min-w-0 ms-4">
                          <p class="text-sm font-medium text-gray-900 truncate ">
                              Abdelali Khalif
                          </p>
                          <p class="text-sm text-gray-500 truncate ">
                              email@windster.com
                          </p>
                      </div>
                      <div class="inline-flex items-center text-base font-semibold text-gray-900 ">
                          $320
                      </div>
                  </div>
              </li>

              <li class="p-3">
                <div class="flex items-center">
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm p-1 font-medium text-gray-400 truncate ">
                          13 Mar 2024
                        </p>
                        <p class="text-sm p-1 font-medium text-gray-900 truncate ">
                          Safi
                        </p>
                        <p class="text-3xl p-1 font-bold text-gray-900 truncate ">
                          MAR
                        </p>
                    </div>

                    <div class="flex-1 text-right min-w-0 ms-4">
                      <p class="text-sm p-1 font-medium text-gray-400 truncate ">
                        13 Mar 2024
                      </p>
                      <p class="text-sm p-1 font-medium text-gray-900 truncate ">
                        Paris
                      </p>
                      <p class="text-3xl p-1 font-bold text-gray-900 truncate ">
                        FRA
                      </p>
                  </div>

                </div>
            </li>


          </ul>
    </div>
  </div>

  <div class="max-w-lg md:w-1/2  m-4 bg-white border border-gray-200 rounded-lg shadow sm:px-4 ">
    <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200 ">
              <li class="p-3">
                  <div class="flex items-center">
                      <div class="flex-shrink-0">
                          <img class="w-8 h-8 rounded-full" src="/assets/upload/profile_.jpg" alt="Neil image">
                      </div>
                      <div class="flex-1 min-w-0 ms-4">
                          <p class="text-sm font-medium text-gray-900 truncate ">
                              Abdelali Khalif
                          </p>
                          <p class="text-sm text-gray-500 truncate ">
                              email@windster.com
                          </p>
                      </div>
                      <div class="inline-flex items-center text-base font-semibold text-gray-900 ">
                          $320
                      </div>
                  </div>
              </li>

              <li class="p-3">
                <div class="flex items-center">
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm p-2 font-medium text-gray-400 truncate ">
                          13 Mar 2024
                        </p>
                        <p class="text-sm p-2 font-medium text-gray-900 truncate ">
                          Safi
                        </p>
                        <p class="text-3xl p-2 font-bold text-gray-900 truncate ">
                          MAR
                        </p>
                    </div>

                    <div class="flex-1 text-right min-w-0 ms-4">
                      <p class="text-sm p-2 font-medium text-gray-400 truncate ">
                        13 Mar 2024
                      </p>
                      <p class="text-sm p-2 font-medium text-gray-900 truncate ">
                        Paris
                      </p>
                      <p class="text-3xl p-2 font-bold text-gray-900 truncate ">
                        FRA
                      </p>
                  </div>

                </div>
            </li>


          </ul>
    </div>
  </div>

  <div class="max-w-lg md:w-1/2  m-4 bg-white border border-gray-200 rounded-lg shadow sm:px-4 ">
    <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200 ">
              <li class="p-3">
                  <div class="flex items-center">
                      <div class="flex-shrink-0">
                          <img class="w-8 h-8 rounded-full" src="/assets/upload/profile_.jpg" alt="Neil image">
                      </div>
                      <div class="flex-1 min-w-0 ms-4">
                          <p class="text-sm font-medium text-gray-900 truncate ">
                              Abdelali Khalif
                          </p>
                          <p class="text-sm text-gray-500 truncate ">
                              email@windster.com
                          </p>
                      </div>
                      <div class="inline-flex items-center text-base font-semibold text-gray-900 ">
                          $320
                      </div>
                  </div>
              </li>

              <li class="p-3">
                <div class="flex items-center">
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm p-2 font-medium text-gray-400 truncate ">
                          13 Mar 2024
                        </p>
                        <p class="text-sm p-2 font-medium text-gray-900 truncate ">
                          Safi
                        </p>
                        <p class="text-3xl p-2 font-bold text-gray-900 truncate ">
                          MAR
                        </p>
                    </div>

                    <div class="flex-1 text-right min-w-0 ms-4">
                      <p class="text-sm p-2 font-medium text-gray-400 truncate ">
                        13 Mar 2024
                      </p>
                      <p class="text-sm p-2 font-medium text-gray-900 truncate ">
                        Paris
                      </p>
                      <p class="text-3xl p-2 font-bold text-gray-900 truncate ">
                        FRA
                      </p>
                  </div>

                </div>
            </li>


          </ul>
    </div>
  </div>
</div>
