<h1>reserv</h1>
<div>

  <div class="mx-3 border shadow-md rounded-lg p-5 m-5">
    <div class="flex justify-around mb-3">
      <h3 class="text-xl font-bold w-10">From</h3>

      <div class="flex flex-col">
        <label for="country" class="block mb-2 text-sm font-medium text-gray-900">Country</label>
        <select id="country" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-56 p-2.5" aria-label="Select Country" (change)="loadStates(0)" [(ngModel)]="api_country[0]" >
            <option disabled value="">Select Country</option>
            <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
        </select>
      </div>

      <div class="flex flex-col">
          <label for="state" class="block mb-2 text-sm font-medium text-gray-900">State</label>
          <select id="state" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-56 p-2.5 " aria-label="Select State" (change)="loadCities(1)" [(ngModel)]="api_country[1]">
              <option disabled value="">Select State</option>
              <option *ngFor="let state of states" [ngValue]="state">{{ state.name }}</option>
          </select>
      </div>

      <div class="flex flex-col">
          <label for="city" class="block mb-2 text-sm font-medium text-gray-900">City</label>
          <select id="city" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-56 p-2.5 " aria-label="Select City" (change)="load(2)" [(ngModel)]="api_country[2]">
              <option disabled value="">Select City</option>
              <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
          </select>
      </div>

      <!-- <div class="flex flex-col">
        <label for="city" class="block mb-2 text-sm font-medium text-gray-900">from </label>
          <input
            type="text"
            id="inputField"
            [placeholder]="placeholder"
            #inputField
            class="block w-48 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
            [(ngModel)]="my_journey.fromPlace"
            />
      </div> -->

      <div class="flex flex-col">
        <label for="city" class="block mb-2 text-sm font-medium text-gray-900">Start date </label>
        <input type="datetime-local" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" />
      </div>
    </div>




    <div class="flex justify-around ">
      <h3 class="text-xl font-bold w-10">To</h3>

      <div class="flex flex-col">
        <label for="country" class="block mb-2 text-sm font-medium text-gray-900">Country</label>
        <select id="country" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-56 p-2.5" aria-label="Select Country" (change)="loadStates(3)" [(ngModel)]="api_country[3]" >
            <option disabled value="">Select Country</option>
            <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
        </select>
      </div>

      <div class="flex flex-col">
          <label for="state" class="block mb-2 text-sm font-medium text-gray-900">State</label>
          <select id="state" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-56 p-2.5 " aria-label="Select State" (change)="loadCities(4)" [(ngModel)]="api_country[4]">
              <option disabled value="">Select State</option>
              <option *ngFor="let state of states" [ngValue]="state">{{ state.name }}</option>
          </select>
      </div>

      <div class="flex flex-col">
          <label for="city" class="block mb-2 text-sm font-medium text-gray-900">City</label>
          <select id="city" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-56 p-2.5 " aria-label="Select City" (change)="load(5)" [(ngModel)]="api_country[5]">
              <option disabled value="">Select City</option>
              <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
          </select>
      </div>

      <!-- <div class="flex flex-col">
        <label for="city" class="block mb-2 text-sm font-medium text-gray-900">from </label>
        <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-48 p-2.5 " aria-label="Select City" [(ngModel)]="my_journey.toPlace">
      </div> -->

      <div class="flex flex-col">
        <label for="city" class="block mb-2 text-sm font-medium text-gray-900">End date </label>
        <input type="datetime-local" class="block w-48 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" />
      </div>

    </div>

    <!-- btn search -->
    <div class=" pt-6 sm:px-16 sm:flex sm:flex-row-reverse">
      <button type="button" (click)="search()" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm" >Search</button>
      <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-400 text-base font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm" >Clear</button>
    </div>
  </div>


  <div *ngIf="ListJourney != null">
    <div *ngFor="let journey of ListJourney" class="relative m-5 overflow-hidden bg-white border border-gray-200 rounded-lg shadow ">
      <div class="group  ">
        <ul role="list" class="divide-y divide-gray-200">
          <li class="p-1">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <img class="w-10 h-9 rounded-full" src="/assets/upload/profile_.jpg" alt="Neil image">
              </div>
              <div class="flex-1 min-w-0 ms-4">
                <p class="text-sm font-medium text-gray-900 truncate">{{ journey.userDTOResp.firstname }} {{ journey.userDTOResp.lastname }}</p>
                <p class="text-sm text-gray-500 truncate">{{ journey.userDTOResp.email }}</p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900">${{ journey.costTotal }}</div>
            </div>
          </li>
          <li class="p-3">
            <div class="flex items-center">
              <div class="flex-1 min-w-0 ms-4">
                <p class="text-sm p-2 font-medium text-gray-400 truncate">Number Place {{ journey.nbrPlaces }}</p>
                <p class="text-sm p-2 font-medium text-gray-400 truncate">{{ journey.startDate | date: 'dd MMM yyyy' }}</p>
                <p class="text-sm p-2 font-medium text-gray-900 truncate">{{ journey.cityStarting }}</p>
                <p class="text-3xl p-2 font-bold text-gray-900 truncate">{{ journey.countryStarting }}</p>
              </div>



              <div class="flex">
                <img src="/assets/upload/black-plane.png" width="50px" alt="">
              </div>



              <div class="flex-1 text-right min-w-0 ms-4">
                <p class="text-sm p-2 font-medium text-gray-400 truncate">{{ journey.endDate | date: 'dd MMM yyyy' }}</p>
                <p class="text-sm p-2 font-medium text-gray-900 truncate">{{ journey.cityArrival }}</p>
                <p class="text-3xl p-2 font-bold text-gray-900 truncate">{{ journey.countryArrival }}</p>
              </div>
            </div>
          </li>
        </ul>

        <div class="absolute h-full w-full bg-black/20 flex items-center justify-center rounded-lg  group-hover:bottom-0 opacity-0 group-hover:opacity-100 transition-all duration-300">
          <button (click)="togglePopup(journey.code, journey.nbrPlaces)"  class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300  rounded-full px-6 py-3 font-semibold">
            Reserve
          </button>
        </div>
      </div>

    </div>


  </div>
  <div *ngIf="ListJourney == null">
    <h1>Not Found</h1>
  </div>



  <div class="fixed z-10 inset-0 overflow-auto hidden bg-white/10 backdrop-blur-sm" [class.hidden]="!showPopup">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:p-0">
      <div class="block bg-gray-100 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:align-middle sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-lg leading-6 font-medium text-gray-900">Reservation</h3>

              <div class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-2">
                  <div class="col-span-2 sm:col-span-1">
                      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Place Reserved</label>
                      <input type="number" name="placeReserved" [(ngModel)]="myReservation.reservedPlaces" min="1" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Place Reserved" required="">
                  </div>
                  <!-- <div class="col-span-2 sm:col-span-1">
                      <label for="price" class="block mb-2 text-sm font-medium text-gray-900 ">Cost</label>
                      <input type="number" name="cost" [(ngModel)]="myReservation.cost" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="$2999" required="">
                  </div> -->
                </div>
              </div>

          </div>
        </div>
        <div class=" px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm" (click)="saveReservation()">Save</button>
          <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-400 text-base font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm" (click)="closePopup()">Close</button>
        </div>
      </div>
    </div>
  </div>



</div>
