<div class="max-w-lg ">


  <mat-stepper orientation="vertical">
    <!-- <form > -->

      <mat-step>
        <ng-template matStepLabel>Step 1</ng-template>
        <ng-template matStepContent>
          <!---------- step 1 --------->
          <div class=" mx-auto border shadow-md rounded-lg p-5 m-5">
            <h3 class="text-xl font-bold mb-4">Start Journey</h3>

            <div class="flex flex-col">
              <label for="country" class="block mb-2 text-sm font-medium text-gray-900">Country</label>
              <select id="country" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" aria-label="Select Country" (change)="loadStates(0)" [(ngModel)]="api_country[0]" >
                  <option disabled value="">Select Country</option>
                  <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
              </select>
            </div>

            <div class="flex flex-col">
                <label for="state" class="block mb-2 text-sm font-medium text-gray-900">State</label>
                <select id="state" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " aria-label="Select State" (change)="loadCities(1)" [(ngModel)]="api_country[1]">
                    <option disabled value="">Select State</option>
                    <option *ngFor="let state of states" [ngValue]="state">{{ state.name }}</option>
                </select>
            </div>

            <div class="flex flex-col">
                <label for="city" class="block mb-2 text-sm font-medium text-gray-900">City</label>
                <select id="city" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " aria-label="Select City" (change)="load(2)" [(ngModel)]="api_country[2]">
                    <option disabled value="">Select City</option>
                    <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
                </select>
            </div>

            <div class="flex flex-col">
              <label for="city" class="block mb-2 text-sm font-medium text-gray-900">from </label>
              <!-- <mat-form-field appearance="outline"> -->
                <input
                  type="text"
                  id="inputField"
                  [placeholder]="placeholder"
                  #inputField
                  class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                  [(ngModel)]="my_group.fromPlace"
                  />
              <!-- </mat-form-field> -->
            </div>

            <div class="flex flex-col">
              <label for="city" class="block mb-2 text-sm font-medium text-gray-900">Start date </label>
              <input type="datetime-local" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" />
            </div>
          </div>

          <button (click)="clear()" mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 2</ng-template>
        <ng-template matStepContent>


          <div class=" mx-auto border shadow-md rounded-lg p-5 m-5">
            <h3 class="text-xl font-bold mb-4">Arrival Journey</h3>

            <div class="flex flex-col">
              <label for="country" class="block mb-2 text-sm font-medium text-gray-900">Country</label>
              <select id="country" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" aria-label="Select Country" (change)="loadStates(3)" [(ngModel)]="api_country[3]" >
                  <option disabled value="">Select Country</option>
                  <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
              </select>
            </div>

            <div class="flex flex-col">
                <label for="state" class="block mb-2 text-sm font-medium text-gray-900">State</label>
                <select id="state" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " aria-label="Select State" (change)="loadCities(4)" [(ngModel)]="api_country[4]">
                    <option disabled value="">Select State</option>
                    <option *ngFor="let state of states" [ngValue]="state">{{ state.name }}</option>
                </select>
            </div>

            <div class="flex flex-col">
                <label for="city" class="block mb-2 text-sm font-medium text-gray-900">City</label>
                <select id="city" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " aria-label="Select City" (change)="load(5)" [(ngModel)]="api_country[5]">
                    <option disabled value="">Select City</option>
                    <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
                </select>
            </div>

            <div class="flex flex-col">
              <label for="city" class="block mb-2 text-sm font-medium text-gray-900">from </label>
              <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " aria-label="Select City" [(ngModel)]="my_group.toPlace">
            </div>

            <div class="flex flex-col">
              <label for="city" class="block mb-2 text-sm font-medium text-gray-900">End date </label>
              <input type="datetime-local" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" />
            </div>

          </div>

          <button mat-button matStepperPrevious>Back</button>
          <button (click)="save()">Save</button>
        </ng-template>
      </mat-step>
    <!-- </form> -->


  </mat-stepper>






</div>
